### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
# Counting the number of unique players
total_players = purchase_data['SN'].nunique()

# Creating a DataFrame to hold the player count information
player_count_df = pd.DataFrame({'Total Number Of Players':[total_players]})

# Displaying the player count DataFrame
player_count_df

   Total Number Of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# Run basic calculations to obtain number of unique items, average price, number of transactions and total revenue

# Count the number of unique items sold
item_count = purchase_data['Item Name'].nunique()
# Calculate the "Average Sale Price" 
average_price = purchase_data['Price'].mean()
# Count the number of sales transactions
purchase_count = purchase_data['Purchase ID'].count()
# Calculate the "Total Revenue" generated by the sales
total_revenue = purchase_data['Price'].sum()

In [4]:
# Create a summary Data Frame to hold the results
summary_purchasing_df = pd.DataFrame({'Count of Unique Items': [item_count],
                           'Average Price': [average_price],
                           'Number of Purchases': [purchase_count],
                           'Total Revenue': [total_revenue]})

In [5]:
# Give the displayed data a cleaner formatting

# Convert the "Average Price", and "Total Revenue" columns to float type
# And then format the information to include the $ sign, rounded to 2 decimal places, and use comma notation if needed

clean_summary_purchasing_df = summary_purchasing_df.copy()
clean_summary_purchasing_df['Average Price'] = clean_summary_purchasing_df['Average Price'].astype(float).map(
    "${:,.2f}".format)
clean_summary_purchasing_df['Total Revenue'] = clean_summary_purchasing_df['Total Revenue'].astype(float).map(
    "${:,.2f}".format)

In [6]:
# Display the "Purchasing Analysis" summary DataFrame
clean_summary_purchasing_df

   Count of Unique Items Average Price  Number of Purchases Total Revenue
0                    179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
# Create a DataFrame to hold the gender information of the existing players
gender_info_df = purchase_data [['SN','Gender']]
# Remove duplicate records
clean_gender_info_df = gender_info_df.drop_duplicates()

In [8]:
# Count the number of Male, Female, Other/Non-Disclosed players

# Count how many of each gender type there is and create a DataFrame to hold its value
gender_demographics_df = pd.DataFrame(clean_gender_info_df['Gender'].value_counts())
# Rename the "Gender" column to "Total Count"
gender_demographics_df = gender_demographics_df.rename(
    columns={"Gender": "Total Count"})

In [9]:
# Calculate the percentage of Male, Female, Other/Non-Disclosed players

# Calculate the percentage of each gender type
gender_percentage = 100*(gender_demographics_df['Total Count']/total_players)
#  Create a new column in the Dataframe to hold the percentage values
gender_demographics_df['Percentage of Players'] = gender_percentage

In [10]:
# Give the displayed data a cleaner formatting

# Convert the "Percentage of Players" to float type
# And then format the information to include a % sign and rounded to 2 decimal places

clean_gender_demographics_df = gender_demographics_df.copy()
clean_gender_demographics_df['Percentage of Players'] = clean_gender_demographics_df['Percentage of Players'].astype(float).map(
    "{:.2f}%".format)

In [11]:
# Display the "Gender Demographics" summary DataFrame
clean_gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# Run basic calculations to obtain purchase count, average purchase price, total purchase amount and
# average total purchase per person by gender

# Using GroupBy in order to separate the data into fields according to the "Gender" values
grouped_by_gender_df = purchase_data.groupby(['Gender'])

# Count how many purchase transactions were made per gender type
purchase_count_by_gender = grouped_by_gender_df['Gender'].count()
# Calculate the "Average Purchase Price" per gender type
average_purchase_price_gender = grouped_by_gender_df['Price'].mean()
# Calculate the "Total Purchase Amount" per gender type
total_purchase_amount_gender = grouped_by_gender_df['Price'].sum()
# Calculate the "Average Total Purchase per Person" per gender type
average_purchase_per_person_gender = total_purchase_amount_gender / clean_gender_demographics_df['Total Count']

In [13]:
# Create a summary data frame to hold the results
summary_purchasing_gender_df = pd.DataFrame({'Purchase Count':purchase_count_by_gender,
                           'Average Purchase Price':average_purchase_price_gender,
                           'Total Purchase Value':total_purchase_amount_gender,
                           'Avg Total Purchase per Person':average_purchase_per_person_gender})

In [14]:
# Give the displayed data a cleaner formatting

# Convert the "Average Purchase Price", "Total Purchase Value" and "Average Total Purchase per Person" columns to float type
# And then format the information to include the $ sign, rounded to 2 decimal places, and use comma notation if needed

clean_summary_purchasing_gender_df = summary_purchasing_gender_df.copy()
clean_summary_purchasing_gender_df['Average Purchase Price'] = clean_summary_purchasing_gender_df['Average Purchase Price'].astype(float).map(
    "${:,.2f}".format)
clean_summary_purchasing_gender_df['Total Purchase Value'] = clean_summary_purchasing_gender_df['Total Purchase Value'].astype(float).map(
    "${:,.2f}".format)
clean_summary_purchasing_gender_df['Avg Total Purchase per Person'] = clean_summary_purchasing_gender_df['Avg Total Purchase per Person'].astype(float).map(
    "${:,.2f}".format)

In [15]:
# Display the "Purchasing Analysis per Gender" summary DataFrame
clean_summary_purchasing_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
# Establish bins for ages

# Create the bins in which the data will be held
# Bins are 0, 9, 14, 19, 24, 29, 34, 39, 100    
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

# Create the names for the 8 age bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [17]:
# Categorize the existing players using the age bins

# Create a DataFrame to hold the age information of the existing players
age_info_df = purchase_data [['SN','Age']]
# Remove duplicate records
clean_age_info_df = age_info_df.drop_duplicates()
# Set new index to use "SN"
player_age_df = clean_age_info_df.set_index('SN')
# Categorize the players using the age bins
player_age_df['Age Group'] = pd.cut(player_age_df['Age'], age_bins, labels=group_names, include_lowest=True)

In [18]:
# Calculate the number of players per age group and create a DataFrame to hold its value
age_demographics_df = pd.DataFrame(player_age_df['Age Group'].value_counts(sort = False))
# Rename the "Age Group" column to "Total Count"
age_demographics_df = age_demographics_df.rename(columns={"Age Group": "Total Count"})
# Calculate the percentage of players per age group
age_percentage = 100*(age_demographics_df['Total Count']/total_players)
#  Create a new column in the Dataframe to hold the percentage values
age_demographics_df['Percentage of Players'] = age_percentage

In [19]:
# Give the displayed data a cleaner formatting

# Convert the "Percentage of Players" to float type
# And then format the information to include a % sign and rounded to 2 decimal places

clean_age_demographics_df = age_demographics_df.copy()
clean_age_demographics_df['Percentage of Players'] = clean_age_demographics_df['Percentage of Players'].astype(float).map(
    "{:.2f}%".format)

In [20]:
# Display the "Age Demographics" summary DataFrame
clean_age_demographics_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame